.header_1{
    background-color: #39ace5;
    color: #ffffff;
    .header_1_logo{
        h1{
            margin: 0;
            padding: 15px 10px;
        }
    }
    .header_1_nav{

        .main_menu{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                padding: 0px 20px;
                a{
                    display: inline-block;
                    padding: 25px 0px;
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 14px;
                }
                &:hover{
                    .dropdown-menu{
                        display: flex;
                        margin: 0;
                        border: 0;
                        border-radius: 0;
                        li{
                            a{
                                color: $main_text;
                            }
                        }
                    }
                }

            }
            .megamenu{
                position: static;
                &:hover .dropdown-menu{
                    display: block;
                    min-width: 280px;
                    max-width: 100%;
                    margin: 0;
                    border: 0;
                    border-radius: 0;
                    .megamenu-column{
                        margin: 0;
                        padding: 10px 0;
                        width: 280px;
                        display: block;
                        float:left;
                        &:not(:first-child):after{
                            position: absolute;
                            top: 0;
                            display: block;
                            content: '';
                            width: 1px;
                            background-color: #eee;
                            height: 100%;
                        }
                        ul{
                            padding: 0;
                            margin: 0;
                            li{
                                padding-left: 0;
                                padding-right: 0;
                                a{
                                    color: $main_blue;
                                    font-size: 13px;
                                    font-weight: bold;
                                    padding: 4px 20px;
                                    display: block;
                                    &:hover,
                                    &:focus{
                                        background-color: $main_blue;
                                        color: #fff;
                                    }
                                }
                                span.sub{
                                    color: $main_text;
                                    font-size: 11px;
                                    line-height: 1.4em;
                                    margin-top: -4px;
                                    padding: 10px 20px;
                                    display: block;
                                }
                                .featured-image{
                                    a{
                                        font-size: 14px;
                                        color: #2E7DD9;
                                        font-weight: 600;
                                        img{
                                            width: 100%;
                                            padding: 5px 0;
                                        }
                                    }
                                }
                                .description{
                                    a{
                                        display: none;
                                    }
                                }
                            }
                            .divider{
                                margin: 16px 20px 10px;
                                max-width: 60px;
                                width: 100%;
                                height: 1px;
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
        }
    }
    .header_1_right_side{
        padding: 15px 10px;
        font-size: 12px;
        .auth{
            margin-right: 20px;
            padding: 10px;
            i{
                margin-right: 5px;
            }
        }
        .shop_cart{
            padding: 10px;
            i{
                margin-right: 5px;
            }
        }
    }
}
@import 'header_1_media.scss';
